---
import EventList from "../components/EventList.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Dungeoner og Dragoner">
  <h1 class="text-lg font-bold text-gray-800 mb-2 text-center">
    Seneste Begivenheder
  </h1>
  <EventList />
</BaseLayout>
