---
import NavLink from './NavLink.astro';

const url = "dnd-dashboard"
---
<div class="p-2 border-2 mb-2">
    <NavLink link="/dnd-dashboard/" title="Home" />
    <NavLink link="/dnd-dashboard/npcs" title="NPC'er" />
    <NavLink link="/dnd-dashboard/events" title="Begivenheder" />
</div>
