---
import MinimalLayout from './MinimalLayout.astro';
import "../styles/global.css";
const { pageTitle } = Astro.props;
---
<MinimalLayout pageTitle={pageTitle}>
    <div class="px-4 md:px-36 py-4">
      <slot />
    </div>
</MinimalLayout>
